<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quia libero id laboriosam debitis temporibus beatae repellendus quas, incidunt mollitia quasi nulla qui asperiores vero nisi? Accusamus sunt et adipisci!
    Ratione, inventore. Deleniti eius quasi quos atque in optio recusandae nemo doloremque molestias doloribus libero facilis consequuntur iste perspiciatis dolorem, soluta corrupti inventore et quas ut ipsam! Nemo, incidunt sequi!
    Incidunt perspiciatis voluptas quae reprehenderit ipsum quo facilis quia et reiciendis error voluptates, officiis, suscipit at cupiditate esse eveniet? Odio accusamus laboriosam, doloribus delectus iure iusto labore esse error qui.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa excepturi mollitia quas omnis molestiae dignissimos quisquam, et maxime laboriosam aliquid! Quibusdam repudiandae nulla odit repellat placeat blanditiis suscipit velit at.
    Alias magnam, porro fugiat iste, amet cumque laborum voluptatibus accusamus sint libero nobis dignissimos est eaque ipsum esse. Ipsa, repellat vitae? Rem dolores hic iure facere architecto dolorum quis repellat.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>